# Django database files (IMPORTANT)
db.sqlite3
*.sqlite3
data.json

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Environment variables
.env
.env.*

# Django runtime data
media/
staticfiles/
logs/*.log

# Test caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db